body {
	background-color: #333333;
	color: #FFFFFF;
	font-family: Open Sans, Arial;
}

header {
	margin: 20px;
}

#pomodoro {
	margin: 0 auto;
	text-align: center;
}

.settings-box {
	display: inline-block;
	margin: 20px;
	padding: 20px;
}

.label {
	text-transform: uppercase;
	font-size: .8em;
}

.adjustment {
	display: inline-block;
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
	cursor: pointer;
}

.session {
	margin: 0 auto;
	border: 4px #99CC00 solid;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	cursor: pointer;
	font-size: 4em;
}

.session-break {
	line-height: 150px;
	font-size: .8em;
}